@model List<TP_WS1.ViewModels.GGenreGame>

@{
	ViewData["Title"] = "Index";
}

<div class="container py-5">

	@foreach (var genre in Model)
	{
		<section class="genre-section mb-5">

			<div class="d-flex justify-content-between align-items-center mb-4">
				<h2 class="genre-title text-primary fw-bold mb-0">
					@genre.fullName
				</h2>

				@if (User.Identity.IsAuthenticated)
				{
					<a asp-controller="Games"
					   asp-action="Create"
					   asp-route-id=@genre.GameGenreId
					class="btn btn-sm btn-outline-primary">
						Nouveau jeu
					</a>

				}
			</div>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
				@foreach (var game in genre.Top3Games)
				{
					<div class="col">
						<div class="card h-100 shadow-sm">
							<div class="card-body d-flex flex-column">

								<h5 class="card-title">
									<a asp-area=""
									asp-controller="Posts"
									asp-action="Index"
									asp-route-id="@game.GameId"
									class="text-decoration-none text-dark">
										@game.Name
									</a>
								</h5>
								@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
								{ 
									<a class="card-body" asp-controller="Games"
								   asp-action="Delete"
								   asp-route-id="@game.GameId"
								   class="btn btn-sm btn-outline-primary">
									Delete
								</a>
								}
								
								
							</div>
						</div>
					</div>
				}
			</div>
		</section>
	}
</div>