@model IEnumerable<TP_WS1.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container d-flex flex-row flex-sm-wrap">
    @foreach (var item in Model)
    {
        <div class="card">
        <div class="row g-0">
            <div class="col-md-4">
                <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>@Html.DisplayFor(mbox=> item.Name )</title>
                        <rect width="100%" height="100%" fill="#868e96">
                        </rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                    </svg>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(mbox => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(mbox=> item.Posts.Count()) posts</p>
                    <p class="card-text"><small class="text-muted">Last updated @Html.DisplayFor(mbox=> item.UpdatedAt)</small></p>
                </div>
            </div>
        </div>
    </div>
    }
</div>
